.DS_Store
.Rproj.user
*.Rproj
data/zippedreads/
data/go.obo
outputs/logfiles/
outputs/errorfiles/
outputs/fastcs/
outputs/trimqcs/
outputs/trimmomaticreads/
outputs/STARalign_Pdam/
outputs/phylotrans_Pdam/
bash/jobs/
.Rhistory
.RData
.RDataTmp
Rmd/*.html
core*
hs*
outputs/DESeq-results/
outputs/phylo/
