.DS_Store
.Rproj.user
*.Rproj
data/zippedreads/
data/go.obo
data/classifiers/
outputs/logfiles/
outputs/errorfiles/
outputs/fastcs/
outputs/trimqcs/
outputs/trimmomaticreads/
outputs/STARalign_Pdam/
outputs/phylotrans_Pdam/
outputs/DESeq-results/
outputs/phylo/
outputs/qiime2/
outputs/phyloseq-results/*
bash/jobs/
.Rhistory
.RData
.RDataTmp
Rmd/*.html
core*
hs*
outputs/WGCNAmodules_Pdam/
outputs/aldex2/
outputs/20*
data/goslim_generic.obo
R/GO_MWU/
data/pdam_gene2kogClass.tab
data/pdam_annotations*
data/pdam_genome_annotations*
RData*
manuscript_figures/*
outputs/QCs/
.RDataTmp1
data/hobo/
outputs/*
RDataTmp2
.RDataTmp2
